$pagination-color: $gray-700;
$pagination-hover-color: $dark;
$pagination-hover-bg: $gray-100;
$pagination-active-bg: $gray-800;

$pagination-border-color: $gray-200;
$pagination-hover-border-color: $gray-200;

$pagination-disabled-bg: $gray-100;
$pagination-disabled-color: $gray-400;
$pagination-disabled-border-color: $gray-100;