.partners {
    background-color: rgba(228, 228, 228, 0.267);

    .inPartners {
        max-width: 100%;
        height: 95px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 0 24px;
        text-align: center;

        @media screen and (max-width: 600px) {
            gap: 10px;
        }

        img {

            // @media screen and (max-width: 600px) {
            //     max-width: 300px;
            // }

            max-width: 50px;
            margin-right: 25px;
            margin-left: 25px;

            &:first-child {
                margin-left: 0px;
            }

            @media screen and (max-width: 600px) {
                margin-right: 20px;
                max-width: 40px;
            }

            @media screen and (max-width: 550px) {
                margin-right: 5px;
                margin-left: 5px;
                max-width: 30px;
            }

            &.amazonLogo {
                max-width: 100px;

                @media screen and (max-width: 600px) {
                    max-width: 80px;
                }

                @media screen and (max-width: 550px) {
                    max-width: 70px;
                }
            }

            &.pinkLogo {
                max-width: 150px;

                @media screen and (max-width: 600px) {
                    max-width: 100px;
                }
            }
        }
    }
}