.footer{

    &__shape{
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: 0;
        z-index: -1;
        transform: translateX(-50%, -50%);
        -webkit-transform: translateX(-50%, -50%);
        -moz-transform: translateX(-50%, -50%);
        -ms-transform: translateX(-50%, -50%);
        -o-transform: translateX(-50%, -50%);
}
}