.djj8jList li { 
 display: flex; 
 gap: 10px; 
 margin-bottom: 5px;
 } 

 .djj8jList span { 
 width: 100%; 
 line-height: 25px; 
 } 

.MhhY { 
 display: flex; 
 flex-direction: column; 
 position: relative; 
 } 
 .MhhY span { 
 position: absolute; 
 right: 0; 
 bottom: 0; 
 font-size: 8px; 
 border-radius: 10rem; 
 margin-right: 5px; 
 margin-bottom: 2px; 
 background-color: rgba(108, 43, 251) !important; 
 color: white !important; 
 padding-right: 0.5rem !important; 
 padding-left: 0.5rem !important; 
 } 

 .jHUGg, .dnndBtn { 
 position: relative; 
 z-index: 99; 
 } 

 .requestForm { 
 max-width: 1100px; 
 margin: auto; 
 margin-top: 155px; 
 margin-bottom: 70px; 
 } 

 .me-auto span, .list-unstyled .I78yn { 
 color: red; 
 font-size: 13px; 
 position: relative; 
 top: -5px; 
 } 